md-toast {
  position: fixed !important;
  width: 50%;
  text-align: center;
  border: 1px solid white;
  background-color: beige !important;
}
.more-trail-info{
  text-decoration: none;
}
.more-trail-info:link{
  color: rgb(251, 197, 0);
}
.more-trail-info:visited{
  color: rgb(251, 197, 0);
}
.more-trail-info:hover{
  color: rgb(255, 106, 0);
}
.more-trail-info:active{
  color: rgb(215, 169, 4);
}
.login-modal-submit{
  color: white !important;
  border: 1px solid white !important;
}
.login-modal-other{
  color: rgb(215, 169, 4) !important;
}
.login-modal-toolbar{
  background-color: rgb(183, 143, 1) !important;
}
body {
  font-family: 'Comfortaa', cursive;
}

h2 {
  text-align: center;
}
#mapid {
  min-height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.md-button {
  width: 100% !important;
}

#button-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 2352;
}

.reset-map-button {
  height: 50px;
  width: 100px;
}

.explored-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.trail-image {
  height: 100px;
  width: 200px;
  /* border: 1px solid black;
  padding: 3px; */
}

.trail-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* 
.favorite-card {
  height: 225px;
} */

.favorite-card-title-media {
  padding-left: 10px;
}

.favorite-display {
  padding-left: 0;
}

.favorite-container {
  padding: 15px;
}

.fave-button:hover {
  color: rgb(255, 106, 0);
}

.fave-button {
  color: gold;
}
.comment-label{
  color:white;
}
.comment-input{
  border-bottom-color: rgb(219, 219, 219) !important;
}
.nav-text {
  font-weight: bolder !important;
  font-size: 16px;
  width: 50%;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.trail-title-favorites {
  color: white;
}

.trail-title-favorites:link {
  color: black;
  text-decoration: none;
}

.trail-title-favorites:visited {
  color: rgb(171, 171, 171);
  text-decoration: none;
}

.trail-title-favorites:hover {
  color: rgb(108, 108, 108);
  text-decoration: none;
}

.trail-title-favorites:active {
  color: rgb(95, 95, 95);
  text-decoration: none;
}

.favorite-card-title-text {}

header {
}

/* .map-show{
  padding-bottom: 35px;
} */

.spinner {
  height: 100%;
  width: 100%;
  background-color: black;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  color: rgb(63, 90, 65);
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.welcome-page {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.welcome-page-image {
  height: 100vh;
  width: 100%;
  opacity: .59;
  background: url('/images/landing-trail-pic.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.map-page{
  height: 100vh;
  width: 100%;
  position: relative;
}
.trail-loading-spinner{
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: absolute;
  color: rgb(251, 197, 0);
  text-shadow: 3px 3px black;
}
.trail-loading-spinner-backdrop{
  text-align: center;
  height: 10vh;
  width: 100vh;
  background-color: rgba(118, 103, 47, 0.5);
  border: 1px solid rgba(118, 103, 47, 1);
  border-radius: 2%;
}
.welcome-container {
  z-index: 10;
  padding: 100px;
  background-color: #ffffff00;
  color: black;
  position: absolute;
}

.welcome-text {
  color: black;
  font-weight: bolder;
}

.login-button {
  float: right;
  padding-right: 10px;
}
.error-alert{
  background-color : hsla(0, 0%, 31%, 0.87);
  /* border: 3px solid white; */
}
.warning-alert .swal-title{
  color:white;
}
.warning-alert{
  background-color : hsla(0, 0%, 31%, 0.87);
}
.warning-alert button{
  background-color: rgb(248, 195, 134);
}
.error-alert button{
  background-color : rgb(242, 116, 116);
  box-shadow: 0;
  /* border: 3px solid yellow; */
}
.error-alert button:focus{
  background-color : rgb(242, 116, 116);
  box-shadow: 0;
  /* border: 3px solid yellow; */
}
.error-alert .swal-title{
  color:white;
}

.success-alert{
  background-color : hsla(0, 0%, 31%, 0.897);
  box-shadow: 0;
  /* border: 3px solid white; */
}
.success-alert .swal-title{
  color:white;
}
.success-alert button{
  background-color : hsla(116, 62%, 38%, 0.87);
  box-shadow: 0;
  /* border: 3px solid white; */
}
.no-fave-style{
  text-align: center;
}
.edit-profile-picture{
  height: 200px !important;
  min-width: 300px !important;
}
.profile-username{
  min-height: 50px;
}
.profile-picture-comment{
  max-height: 75px;
  max-width: 110px;
  border-radius: 100%;
  margin-right: 10px;
  object-fit: cover;
}
.profile-picture-img{
  object-fit: contain;
  height: inherit;
}
img {
  font-family: inherit;
  font-weight: 300;
  line-height: 2;  
  text-align: center;
  
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

img::before { 
  font-family: 'Font Awesome 5 Free';
  content: "\f1c5" " " attr(alt);
  font-size: 16px;
  color: rgb(100, 100, 100);
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.profile-view-card{
  height: 80vh;
}
.profile-picture-container{
  height: 200px !important;
  width: 300px !important;
  padding: 10px;
}
.welcome-modal{
  text-align: center;
  /* color: hsl(267, 100%, 85%); */
  color: rgb(251, 197, 0);
  background-color: hsl(145, 51%, 34%);
  padding: 20px;
  border: 2px solid black;
  text-shadow: 1px 2px black;
}
.favorite-image{
  max-height: 100px;
  max-width: 200px;
}
.legend {
  background-color: hsla(0, 0%, 86%, 0.922);
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}
.profile-favorite-card{
  min-width: 100vh;
}