md-toast {
  position: fixed !important;
  width: 100%;
  background-color: beige !important;
}

h2 {
  text-align: center;
}

.gif{
  min-height: 600px;
}

#mapid { 
  min-height: 800px; 
  width: 80%;
}
.md-button{
  width: 100% !important;
}