<div class="favorite-container">
    <ul class="favorite-display">
        <h1 ng-if="vm.favorites.list.length == 0" class="no-fave-style">No favorites added, find some trails to explore!</h1>
        <li flex-xs flex-gt-xs="100" layout="column" ng-repeat="favorite in vm.favorites.list">
            <md-card ng-cloak md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch class="favorite-card">
                <md-card-title layout-align="space-between center" class="favorite-card-title">
                    <md-card-title-text>
                        <span class="md-headline">
                            <a class="trail-title-favorites" ng-href="/#!/details/{{favorite.faveTrailInfo.lat}}/{{favorite.faveTrailInfo.lon}}/{{favorite.faveTrailInfo.unique_id}}">{{favorite.faveTrailInfo.name}}</a>
                        </span>
                        <span class="md-subhead">{{favorite.faveTrailInfo.lat}}, {{favorite.faveTrailInfo.lon}}</span>
                        <span>{{favorite.faveTrailInfo.description}}</span>
                        <span ng-if="(favorite.faveTrailInfo.description == null)" ng-hide="favorite.description" style="text-align:center;">
                            We are sorry, but there are no descriptions available at this time. Please click on the trail title to find more information!
                        </span>
                    </md-card-title-text>
                    <md-card-title-media class="favorite-card-title-media">
                        <div class="card-media trail-image-container">
                            <!-- {{vm.images}}{{vm.totalImages.count}}/ -->
                            <img ng-cloak ng-src="{{vm.images.list[0].imageUrl}}" class="favorite-image"></img>
                        </div>
                        <span class="explored-span">
                            <span ng-if="!favorite.explored">Check Explored</span>
                            <span ng-if="favorite.explored">Uncheck Explored</span>
                            <br/>
                            <md-checkbox ng-click="vm.toggleExplored(favorite)" ng-checked="favorite.explored" aria-label="explored-check">
                            </md-checkbox>
                        </span>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="space-between end">
                    <span flex-gt-sm="80" flex="50">
                        <md-button ng-click="vm.removeFavorite(favorite)">Remove Favorite</md-button>
                    </span>
                    <span flex-gt-sm="20" flex="50" ng-if="favorite.explored" layout="column" layout-align="space-around center">
                        <!-- <md-button ng-click="vm.rateTrail(favorite)">Rate This Trail!</md-button> -->
                        <ng-rate-it resetable="false" rated="vm.rateTrail(favorite, favorite.rating)" ng-model="favorite.rating"></ng-rate-it>
                        Rating: {{favorite.rating}}
                    </span>
                </md-card-actions>
            </md-card>
        </li>
    </ul>

</div>