<div class="welcome-page" ng-click="vm.enterSite()">
    <div class="welcome-container" layout="column" layout-fill layout-align="space-between center">
        <h1 class="welcome-text" flex style="font-size:80px;">Welcome to Trail Pal!</h1>
        <h2 class="welcome-text" flex>The easiest way to find a trail for beginners and experts alike.</h4>
            <h3 class="welcome-text" flex>Click Anywhere to begin...</h3>
            <!-- <md-button flex ng-click="vm.enterSite()" style="z-index:222; opacity:50%; height:100vh; width:100vh;">Click here to enter and find your next trail!</md-button> -->
    </div>
    <div class="welcome-page-image">
    </div>
</div>