<div class="map-page">
    <div class="map-container">
        <div layout="row" layout-align="center center">
            <div id="mapid" flex="auto">
                <div id="button-wrapper">
                    <button ng-click="vm.mapReset()" class="reset-map-button">Reset Map</button>
                </div>
            </div>
        </div>
    </div>
    <div layout="column" layout-align="center center" ng-if="vm.loading" class="trail-loading-spinner">
        <div class="trail-loading-spinner-backdrop">
            <div class="trail-loading-spinner-text">
                <h1 style="z-index:100;">Loading Trail Details! Please Standby.</h1>
            </div>
        </div>
        <md-progress-circular md-mode="indeterminate" md-diameter="100px" style="z-index:100; "></md-progress-circular>
    </div>
</div>