<div ng-controller="LoginController as vm" id="map-show">
    <div class="login-button" layout layout-align="end">
        <!-- {{vm.loggedIn.is}} -->
        <span flex="5"><md-button ng-click="vm.loginDialog()" ng-if="!vm.userObject.loggedIn" class="login-button">
            Login
        </md-button></span>
        <span flex="5"><md-button ng-click="vm.logout()" ng-if="vm.userObject.loggedIn" class="login-button">
            Logout
        </md-button></span>
    </div>
    <div>
        <a ng-href="#!/" style="float:left; height:50px; width:20px; min-width: 1px !important;">
            <md-icon md-svg-icon="images/home_icon.svg"></md-icon>
        </a>

        <md-content class="md-padding" style="margin:0;">
            <md-nav-bar md-no-ink-bar="true" md-selected-nav-item="vm.currentNavItem.value" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-href="#!map" value="map" name="map" class="navbar-item nav-text">
                    Map
                </md-nav-item>
                <md-nav-item md-nav-href="#!favorites" ng-if="vm.userObject.loggedIn" value="favorites" name="favorites" class="navbar-item nav-text">
                    Favorites
                </md-nav-item>
                <md-nav-item  md-nav-href="#!profile" ng-if="vm.userObject.loggedIn" value="profile" name="profile" class="navbar-item nav-text">
                    Profile
                </md-nav-item>
            </md-nav-bar>
        </md-content>
    </div>
</div>