<div>
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch class="profile-view-card">
        <md-card-title class="profile-card-title">
            <md-card-title-text flex="80" class="center-me">
                <div class="profile-full-name">
                    <form>
                        <md-input-container>
                            <label class="comment-label">Name</label>
                            <input aria-label="User Full Name" ng-model="vm.userObject.userFullName" class="comment-label" />
                            <md-button ng-click="vm.setUserFullName(vm.userObject)">Save</md-button>
                        </md-input-container>
                    </form>
                </div>
                <!-- <div class="profile-username">
                    <h2 style="float:left;">
                        Username: {{vm.userObject.userName}}
                    </h2>
                </div> -->
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media profile-picture-container">
                    <button ng-cloak ng-if="!vm.pictureChosen" ng-click="vm.openPicker()">
                        +
                    </button>
                    <md-button ng-if="vm.pictureChosen" aria-label="Edit Profile Picture" ng-cloak class="edit-profile-picture" ng-click="vm.openPicker()">
                        <span>Edit Picture</span>
                        <img ng-cloak ng-src="{{vm.profilePicture.list.imageUrl}}" alt="Profile Picture" class="profile-picture-img">
                    </md-button>
                    <!-- <img style="max-height:300px; max-width:300px;" ng-src="{{vm.profilePicture.list[vm.profilePicture.list.length-1].imageUrl}}" alt="profile picture"> -->
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between end">
            <!-- <p>Profile gobbledy gook</p> -->
            <div style="width: 100%;">
                <ul class="favorite-display center-me">
                    <li flex-xs flex-gt-xs="100" class="profile-favorite-card" layout="column" ng-repeat="favorite in vm.favorites.list |  orderBy : '-rating'| limitTo : 2">
                        <md-card ng-cloak md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch class="favorite-card center-me-row">
                            <md-card-title layout-align="space-between center" class="favorite-card-title">
                                <md-card-title-text>
                                    <span class="md-headline">
                                        <a class="trail-title-favorites" ng-href="/#!/details/{{favorite.faveTrailInfo.lat}}/{{favorite.faveTrailInfo.lon}}/{{favorite.faveTrailInfo.unique_id}}">{{favorite.faveTrailInfo.name}}</a>
                                    </span>
                                    <span class="md-subhead">{{favorite.faveTrailInfo.lat}}, {{favorite.faveTrailInfo.lon}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="space-between end" class="profile-favorite-card-ratings">
                                <span></span>
                                <span ng-if="favorite.explored" layout="column" layout-align="space-around center">
                                    <!-- <md-button ng-click="vm.rateTrail(favorite)">Rate This Trail!</md-button> -->
                                    <ng-rate-it resetable="false" rated="vm.rateTrail(favorite, favorite.rating)" ng-model="favorite.rating"></ng-rate-it>
                                    Rating: {{favorite.rating}}
                                </span>
                            </md-card-actions>
                        </md-card>
                    </li>
                </ul>
                </di>
        </md-card-content>
    </md-card>
    </div>