<div layout>
    <md-card md-theme-watch layout="row" flex="60">
        <md-card-title flex flex-gt-sm="80" layout>
            <md-card-title-text flex ng-cloak>
                <span class="md-headline" style="font-weight: bold; text-align:center;">{{vm.trailInfo.name}}</span>
                <span class="md-subhead" ng-show="vm.trailInfo.description">Description:
                    <!-- <br/>{{vm.trailInfo.description}} -->
                    <p ng-bind-html="vm.renderHTML(vm.trailInfo.description)"></p>
                </span>
                <div ng-repeat="trail in vm.trailInfo.activities">
                    <span class="md-subhead" ng-show="trail.description" style="text-transform:capitalize;">{{trail.activity_type_name}} Description:
                        <!-- <br/>{{trail.description}} -->
                        <p ng-bind-html="vm.renderHTML(trail.description)"></p>
                    </span>
                    <span ng-if="(trail.description == null && vm.trailDescription == null)" style="text-align:center;">
                        We are sorry, but there are no descriptions available at this time. Please try our 'Research Trail' button on the side to
                        find more information!
                    </span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content flex="20" layout="column" layout-align="space-between center">
            <!-- <div class="md-media-xl card-media"></div> -->
            <div flex="33"></div>
            <md-card-actions layout="column">
                <md-button class="md-icon-button" aria-label="Favorite" md-no-ink ng-click="vm.favoriteTrail(trail)">
                    <md-icon class="fave-button" md-svg-icon="./styles/assets/star_empty_icon.svg"></md-icon>
                </md-button>
            </md-card-actions>
            <ng-rate-it resetable="false" read-only="true" ng-model="vm.trailAverageRating"></ng-rate-it>
        </md-card-content>
    </md-card>
    <div>
        <h4>Location:
            <br/>
            <span>{{vm.trailInfo.city}}, {{vm.trailInfo.state}} {{vm.trailInfo.country}}</span>
        </h4>
        <h4>Links to website with directions/fees/other info:
            <br/>
            <span ng-repeat="trail in vm.trailInfo.activities">
                <a class="more-trail-info" ng-href="{{trail.url}}" target="_blank">{{trail.url}}</a>
                <br/>
            </span>
        </h4>
        <h4>
            Link to helpful page:
            <br/>
            <span>
                <a class="more-trail-info" ng-href="http://www.google.com/search#q={{vm.trailInfo.name}}&btnI" target="_blank">Research Trail!</a>
            </span>
        </h4>
        <span ng-repeat="trail in vm.trailInfo.activities">
            <img ng-src="{{trail.thumbnail}}" style="max-height:300px; max-width:300px;"></img>
        </span>
        <span>
            <span>
                <button ng-click="vm.imageBackward()">
                    <
                </button>
            </span>
            <span>
                <button ng-click="vm.imageForward()">
                    >
                </button>
            </span>
            <img ng-cloak style="max-height:300px; max-width:300px;" ng-src="{{vm.images.list[vm.imagePosition].imageUrl}}" alt="Photo not available">
        </span>
        <button style="height:30px; width:30px;" ng-click="vm.openPicker()">+</button>

    </div>
</div>

<!-- Comment input -->
<div layout="row" layout="column">
    <div flex="60" ng-cloak class="md-inline-form">
        <md-content layout-padding>
            <form name="userForm" ng-submit="vm.submitComment()">
                <div layout-gt-sm="column">
                    <md-input-container class="md-block">
                        <label class="comment-label">Leave a Comment</label>
                        <input ng-model="vm.comment" md-maxlength="150" rows="2" md-select-on-focus class="comment-input"></textarea>
                    </md-input-container>
                    <div class="submit-button">
                        <md-button ng-click="vm.submitComment()" flex="20">Submit</md-button>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>

<!-- Comment output -->
<div>
    <md-content style="font-size:22px !important;">
        <md-list flex>
            <md-subheader class="md-no-sticky">Comments for this trail!</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="comment in vm.trailComments.list | orderBy : '-comment.comment.dateAdded'">
                <!-- <img  class="md-avatar" alt="{{todos[0].who}}" /> -->
                <!-- {{comment}} -->
                <img ng-src="{{comment.picture.imageUrl}}" class="profile-picture-comment"></img>
                <div class="md-list-item-text">
                    <h3 ng-if="comment.comment.user.userFullName">{{comment.comment.user.userFullName}}</h3>
                    <h3 ng-if="!comment.comment.user.userFullName">{{comment.comment.user.user}}</h3>
                    <h4>{{comment.comment.comment.comment}}</h4>
                    <p>{{comment.comment.comment.dateAdded | date}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>